<!DOCTYPE html>
<html lang="de">
  <head>
    <title>AlphaMedical d.o.o.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Facebook Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };

        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";

        n.queue = [];
        t = b.createElement(e);
        t.async = !0;

        t.src = v;
        s = b.getElementsByTagName(e)[0];

        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );

      fbq("init", "3924030091049474");

      fbq("track", "PageView");
    </script>
    <noscript>
      <img
        height="1"
        width="1"
        style="display: none"
        src="https://www.facebook.com/tr?id=3924030091049474&ev=PageView&noscript=1"
      />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <meta
      name="keywords"
      content="Personalberatungsunternehmen, Gesundheitssektor, internationale Rekrutierung, Personalvermittlung, HR Beratung"
    />
    <meta
      name="description"
      content="Personalberatungsunternehmen aus Windhagen. Wir bieten Personallösungen für Unternehmen im Gesundheitssektor an, die Fachkräfte aus dem Ausland suchen. "
    />
    <meta
      property="og:description"
      content="Personalberatungsunternehmen aus Windhagen. Wir bieten Personallösungen für Unternehmen im Gesundheitssektor an, die Fachkräfte aus dem Ausland suchen. "
    />
    <meta name="icbm" content="50.64,7.36049" />
    <meta name="geo.position" content="50.64;7.36049" />
    <meta name="geo.placename" content="Windhagen" />
    <meta
      property="og:title"
      content="Eggert Kleffmann &amp; Partner GmbH - Personalberatungsunternehmen aus Windhagen"
    />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="de" />
    <meta property="og:url" content="https://www.ekpartner.de/" />
    <link rel="icon" type="image/ico" href="/images/48/2066106/fav_.ico" />
    <link
      rel="shortcut icon"
      href="/images/48/2066106/fav_.ico"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://cdn2.site-media.eu" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="//fast.fonts.net/cssapi/3f8a59fd-d13f-439a-93fe-b21334748770.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/webcard/static/app.min.css?t=1681794948"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/custom.css?v=230316174044"
      id="customcss"
    />
    <link rel="canonical" href="https://www.ekpartner.de/" />
    <script>
      if (!webcard) var webcard = {};
      webcard.id = 114857;
      webcard.moduleId = 714447;
      webcard.culture = "de";
      webcard.type = 2;
      webcard.isEdit = false;
      webcard.isPreview = false;
      webcard.isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(
        navigator.userAgent
      );
      webcard.isTouch =
        "ontouchstart" in window || navigator.msMaxTouchPoints > 0;
      webcard.googleMapsEmbedApiKey = "AIzaSyBFWnYqkpaLw5jvs3q6a4oiGTnU61UNxbA";
      webcard.googleMapsApiKey = "";
      webcard.apiHost = "api.sitehub.io";
      var extraPath = "";
    </script>
    <style>
      #ed-5184762 h2 {
        text-align: center;
      }

      #ed-5185275 h3 {
        text-align: center;
      }
    </style>
  </head>
  <body class="page-714447 pagelayout-1 index slogan">
    <div
      class="ed-element ed-container flex-column parallax header preset-header-blitzner"
      style="height: 50vh"
      id="ed-5184744"
    >
      <div class="inner" data-parallax-amount="45">
        <div
          class="ed-element ed-container wv-boxed menu-wrapper"
          id="ed-5184747"
        >
          <div class="inner">
            <div class="ed-element ed-image left logo" id="ed-5184750">
              <a href="/"
                ><img
                  alt="Eggert Kleffmann &amp; Partner GmbH i. G."
                  src="https://cdn2.site-media.eu/images/220/2064276/logo_trans.png"
                  srcset="
                    https://cdn2.site-media.eu/images/220/2064276/logo_trans.png 1x,
                    https://cdn2.site-media.eu/images/440/2064276/logo_trans.png 2x
                  "
                  _mstalt="995631"
                  _msthash="1"
              /></a>
            </div>
            <div class="ed-element ed-html menu-trigger" id="ed-5184756">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
        <div
          class="ed-element ed-container parallax flex-column flex-justify-content-center flex-align-items-center header-content flex-align-c flex-align-content-center wv-boxed full-width"
          id="ed-5184759"
        >
          <div
            class="background"
            style="height: 891px; transform: translate3d(0px, -48px, 0px)"
          >
            <div class="ed-element ed-image wv-bg bg-cc" id="ed-5184765">
              <img
                alt=""
                src="https://cdn2.site-media.eu/images/1680/2042489/61222_225057112818527590_IB1024x471.jpg"
              />
              <div
                class="background-image-holder"
                style="
                  background-image: url('https://cdn2.site-media.eu/images/1680/2042489/61222_225057112818527590_IB1024x471.jpg');
                "
              ></div>
            </div>
          </div>
          <div class="inner" data-parallax-amount="50">
            <div class="ed-element ed-headline" id="ed-55447738">
              <h3
                contenteditable="true"
                style="
                  box-sizing: inherit;
                  font-family: 'Open Sans';
                  font-weight: 300;
                  color: rgb(255, 255, 255);
                  margin: 0px;
                  font-size: 1.5rem;
                  line-height: 1;
                  letter-spacing: normal;
                  text-transform: none;
                  font-style: normal;
                  text-decoration: none;
                  text-align: center;
                  outline-style: none;
                  outline-width: initial;
                  outline-color: var(--color-highlight);
                  user-select: text;
                  pointer-events: auto;
                  font-variant-ligatures: normal;
                  font-variant-caps: normal;
                  orphans: 2;
                  text-indent: 0px;
                  white-space: normal;
                  widows: 2;
                  word-spacing: 0px;
                  -webkit-text-stroke-width: 0px;
                  background-color: rgb(23, 42, 72);
                "
              ></h3>
            </div>
            <div
              class="ed-element ed-headline custom-theme wv-light-edit"
              id="ed-5184762"
              data-animation='{"type":"fade","initial":"hide","keepHeight":true,"duration":"1s","delay":"1s","overlay":{"width":"auto"},"trigger":"onload","group":{"name":"","behavior":{"show":"","hide":""}}}'
              style="visibility: visible; opacity: 1"
            >
              <h2 _msttexthash="977483" _msthash="10">
                STAFFING CHALLENGES IN THE HEALTHCARE SECTOR
              </h2>
            </div>
            <div
              class="ed-element ed-headline custom-theme wv-light-edit"
              id="ed-5185275"
              data-animation='{"type":"fade","initial":"hide","keepHeight":true,"duration":"1s","delay":"2s","overlay":{"width":"auto"},"trigger":"onload","group":{"name":"","behavior":{"show":"","hide":""}}}'
              style="visibility: visible; opacity: 1"
            >
              <h3 _msttexthash="4479865" _msthash="11">
                WORK WITH US TO FIND SUITABLE STRATEGIC AND OPERATIONAL
                SOLUTIONS FOR DEMAND PLANNING AND DEMAND COVERAGE
              </h3>
            </div>
          </div>
        </div>
        <div class="ed-element ed-headline" id="ed-55447741">
          <h3
            contenteditable="true"
            style="
              box-sizing: inherit;
              font-family: 'Open Sans';
              font-weight: 300;
              color: rgb(255, 255, 255);
              margin: 0px;
              font-size: 1.5rem;
              line-height: 1;
              letter-spacing: normal;
              text-transform: none;
              font-style: normal;
              text-decoration: none;
              text-align: center;
              outline-style: none;
              outline-width: initial;
              outline-color: var(--color-highlight);
              user-select: text;
              pointer-events: auto;
              font-variant-ligatures: normal;
              font-variant-caps: normal;
              orphans: 2;
              text-indent: 0px;
              white-space: normal;
              widows: 2;
              word-spacing: 0px;
              -webkit-text-stroke-width: 0px;
              background-color: rgb(23, 42, 72);
            "
          ></h3>
        </div>
        <div class="ed-element ed-html back-to-top" id="ed-5184783">
          <a href="#"><i class="fa fa-angle-up"></i></a>
        </div>
      </div>
    </div>
    <div
      class="ed-element ed-container flex-column parallax header preset-header-blitzner"
      style="height: 50vh"
      id="ed-5184744"
    >
      <div class="inner" data-parallax-amount="45">
        <div
          class="ed-element ed-container wv-boxed menu-wrapper"
          id="ed-5184747"
        >
          <div class="inner">
            <div class="ed-element ed-html menu-trigger" id="ed-5184756">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
        <div
          class="ed-element ed-container parallax flex-column flex-justify-content-center flex-align-items-center header-content flex-align-c flex-align-content-center wv-boxed full-width"
          id="ed-5184759"
        >
          <div class="background">
            <div class="ed-element ed-image wv-bg bg-cc" id="ed-5184765">
              <img
                alt=""
                src="https://cdn2.site-media.eu/images/1680/2042489/61222_225057112818527590_IB1024x471.jpg"
              />
              <div
                class="background-image-holder"
                style="
                  background-image: url('https://cdn2.site-media.eu/images/1680/2042489/61222_225057112818527590_IB1024x471.jpg');
                "
              ></div>
            </div>
          </div>
          <div class="inner" data-parallax-amount="50">
            <div class="ed-element ed-headline" id="ed-55447738">
              <h3
                contenteditable="true"
                style="
                  box-sizing: inherit;
                  font-family: 'Open Sans';
                  font-weight: 300;
                  color: rgb(255, 255, 255);
                  margin: 0px;
                  font-size: 1.5rem;
                  line-height: 1;
                  letter-spacing: normal;
                  text-transform: none;
                  font-style: normal;
                  text-decoration: none;
                  text-align: center;
                  outline-style: none;
                  outline-width: initial;
                  outline-color: var(--color-highlight);
                  user-select: text;
                  pointer-events: auto;
                  font-variant-ligatures: normal;
                  font-variant-caps: normal;
                  orphans: 2;
                  text-indent: 0px;
                  white-space: normal;
                  widows: 2;
                  word-spacing: 0px;
                  -webkit-text-stroke-width: 0px;
                  background-color: rgb(23, 42, 72);
                "
              ></h3>
            </div>
            <div
              class="ed-element ed-headline custom-theme wv-light-edit"
              id="ed-5184762"
              data-animation='{"type":"fade","initial":"hide","keepHeight":true,"duration":"1s","delay":"1s","overlay":{"width":"auto"},"trigger":"onload","group":{"name":"","behavior":{"show":"","hide":""}}}'
            >
              <h2>PERSONELLE HERAUSFORDERUNGEN IM GESUNDHEITSWESEN</h2>
            </div>
            <div
              class="ed-element ed-headline custom-theme wv-light-edit"
              id="ed-5185275"
              data-animation='{"type":"fade","initial":"hide","keepHeight":true,"duration":"1s","delay":"2s","overlay":{"width":"auto"},"trigger":"onload","group":{"name":"","behavior":{"show":"","hide":""}}}'
            >
              <h3>
                FINDEN SIE MIT UNS PASSENDE STRATEGISCHE UND OPERATIVE
                LÖSUNGSANSÄTZE IN DER BEDARFSPLANUNG UND BEDARFSDECKUNG
              </h3>
            </div>
          </div>
        </div>
        <div class="ed-element ed-headline" id="ed-55447741">
          <h3
            contenteditable="true"
            style="
              box-sizing: inherit;
              font-family: 'Open Sans';
              font-weight: 300;
              color: rgb(255, 255, 255);
              margin: 0px;
              font-size: 1.5rem;
              line-height: 1;
              letter-spacing: normal;
              text-transform: none;
              font-style: normal;
              text-decoration: none;
              text-align: center;
              outline-style: none;
              outline-width: initial;
              outline-color: var(--color-highlight);
              user-select: text;
              pointer-events: auto;
              font-variant-ligatures: normal;
              font-variant-caps: normal;
              orphans: 2;
              text-indent: 0px;
              white-space: normal;
              widows: 2;
              word-spacing: 0px;
              -webkit-text-stroke-width: 0px;
              background-color: rgb(23, 42, 72);
            "
          ></h3>
        </div>
        <div class="ed-element ed-html back-to-top" id="ed-5184783">
          <a href="#">
            <i class="fa fa-angle-up"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="ed-element ed-spacer" id="ed-5188932">
      <div class="space" style="height: 20px"></div>
    </div>
    <div
      class="ed-element ed-image center logo"
      id="ed-5188929"
      data-animation='{"type":"fade","initial":"hide","keepHeight":true,"duration":"3s","delay":"0s","overlay":{"width":"auto"},"trigger":"onload","group":{"name":"","behavior":{"show":"","hide":""}}}'
    >
      <h1>
        <img
          alt=""
          src="https://cdn2.site-media.eu/images/0/2064276/logo_trans.png"
        />
      </h1>
    </div>
    <div class="ed-element ed-container preset-boxen-akkordeon" id="ed-5185383">
      <div class="inner">
        <div class="ed-element ed-image left" id="ed-5185392">
          <a href="/aboutus">
            <img
              alt=""
              src="https://cdn2.site-media.eu/images/300%2C710x471%2B209%2B0/2042492/61222_165685871154200528_alkclients1024x471.jpg"
              srcset="
                https://cdn2.site-media.eu/images/300%2C710x471%2B209%2B0/2042492/61222_165685871154200528_alkclients1024x471.jpg 1x,
                https://cdn2.site-media.eu/images/600%2C710x471%2B209%2B0/2042492/61222_165685871154200528_alkclients1024x471.jpg 2x
              "
            />
            <br />
            <span>
              <h2 style="text-align: center">About us</h2>
            </span>
          </a>
        </div>
        <div class="ed-element ed-image left" id="ed-5185389">
          <a href="./app/services">
            <img
              style="width: 100%"
              alt=""
              src="https://cdn2.site-media.eu/images/1322%2C640x424%2B0%2B1/2023919/60577_1632648798825477790_ThinkstockPhotos176849236.jpg"
            />
            <br />
            <span>
              <h2 style="text-align: center">Services</h2>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="ed-element ed-container preset-footer-karma" id="ed-5185203">
      <div class="inner" style="position: relative">
        <div
          class="ed-element ed-container wv-boxed flex-align-items-stretch footer-content flex-justify-content-center full-width"
          id="ed-5185233"
        ></div>
      </div>
    </div>
    <div class="ed-element ed-html" id="ed-5832243">
      <link
        rel="stylesheet"
        type="text/css"
        href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"
      />
      <div
        class="background"
        style="height: 250px; transform: translate3d(0px, 0px, 0px)"
      >
        <div class="container-footer">
          <img src="" alt="logo" />
          <div class="inner">
            <div class="ed-element ed-container box">
              <div class="inner">
                <div class="ed-element ed-html">
                  <i class="fa fa-map-marker"></i>
                </div>
                <div class="ed-element ed-headline custom-theme">
                  <h3>ADDRESS</h3>
                </div>
                <div class="ed-element ed-text custom-theme wv-light-edit">
                  <p data-bind="customer.street" style="text-align: center">
                    Stupine B2
                  </p>
                  <p style="text-align: center">
                    <span data-bind="customer.zip">75000</span>
                    <span data-bind="customer.city">Tuzla</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="ed-element ed-container box">
              <div class="inner">
                <div class="ed-element ed-html">
                  <i class="fa fa-phone"></i>
                </div>
                <div class="ed-element ed-headline custom-theme">
                  <h3>CONTACT</h3>
                </div>
                <div
                  class="ed-element ed-text custom-theme wv-light-edit fr-box fr-ltr fr-basic"
                  id="ed-5185257"
                >
                  <div class="fr-wrapper" dir="ltr">
                    <div
                      class="fr-element fr-view"
                      dir="ltr"
                      contenteditable="true"
                      aria-disabled="false"
                      spellcheck="true"
                    >
                      <p>Mobile: 00387 - 61 538 229</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ed-element ed-container box">
              <div class="inner">
                <div class="ed-element ed-html">
                  <i class="fa fa-envelope"></i>
                </div>
                <div class="ed-element ed-headline custom-theme">
                  <h3>CONTACT</h3>
                </div>
                <div class="ed-element ed-text custom-theme">
                  <p>
                    <a
                      data-bind="customer.email"
                      href="mailto:frank.eggert@ekpartner.de"
                      >adnan.civic@alphamedical.com</a
                    >
                  </p>
                  <p>
                    <a href="/impressum">Impressum</a> |
                    <a href="/agb" title="">AGB</a> |
                    <a href="/datenschutz" title="">Datenschutz</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
      <script>
        window.addEventListener("load", function () {
          window.cookieconsent.initialise({
            palette: {
              popup: {
                background: "#172a48",
                text: "#fff",
              },
              button: {
                background: "#009ee1",
                text: "#ffffff",
              },
            },
            theme: "edgeless",
            position: "bottom-right",
            static: false,
            content: {
              message:
                "Diese Webseite verwendet Cookies, um bestimmte Funktionen zu ermöglichen und das Angebot zu verbessern. Indem Sie hier fortfahren, stimmen Sie der Nutzung von Cookies zu.",
              dismiss: "OK!",
              link: "Mehr erfahren!",
              href: "/datenschutz", // Bitte entsprechend der der URL der Datenschutzerklärung anpassen
            },
          });
        });
      </script>
    </div>
    <script src="/webcard/static/app.bundle.js?t=1681794948"></script>
    <script src="/js/custom.js?v=180309100317"></script>
    <script>
      var _paq = _paq || [];
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);
      (function () {
        var u = "//www.page-stats.de/";
        _paq.push(["setTrackerUrl", u + "piwik.php"]);
        _paq.push(["setSiteId", "7785"]);
        var d = document,
          g = d.createElement("script"),
          s = d.getElementsByTagName("script")[0];
        g.type = "text/javascript";
        g.async = true;
        g.defer = true;
        g.src = u + "piwik.js";
        s.parentNode.insertBefore(g, s);
      })();
      document.addEventListener(
        "click",
        function (event) {
          try {
            var a = event.target.closest("a");
            a &&
              a.href.indexOf("tel:") > -1 &&
              _paq.push(["trackEvent", "call", "click"]);
          } catch (e) {}
        },
        false
      );
    </script>
  </body>
</html>
